html,
body {
  margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 8px;
    

}

@font-face {
    font-family: Norse-Bold;
    src: url("/img/Norse-Bold.otf");
}

.image {
    width: 100%;
    height: auto;
}

.img-sidebar {
    display: flex;
    align-self: stretch;
    grid-column: 1 / 2;

    position: relative;
    text-align: center;

}

.overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-family: Norse-Bold;
    font-size: 96px;
    position: absolute;

    transition: transform 1s; 

    top: 64px;
    left: 0px;
    width: 100%;

}

.overlay:hover {
    transform: rotate(360deg);
    width: 80%;
    border-radius: 25px;
    background: rgb(3, 0, 207, .5);
}

.image-overlay {
    width: 240px;
    height: auto;
}

.copyright {
    color: white;
    position: absolute;
    bottom: 8px;
    left: 16px;

}

.right {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr 1fr;
    justify-content: center;
    align-items: space-around;
    gap: 16px;

    margin-top: 10%;
    margin-bottom: 10%;
    padding: 16px;

    font-size: 24px;
    font-weight: bolder;

}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

    font: 16px;
    font-weight: lighter;
    color: gray;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}


.form-entry {
    display: flex;
    flex-direction: column;


    padding: 12px;
} 

.create-account {
    border-radius: 15px;
    justify-self: flex-start;
    align-self: center;
    color: white;
    background-color: rgb(50, 37, 236);
    border: none;
    font: 36px;
    padding: 16px;
}

.create-account:active {

    background-color: #130970;

}

.account {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

input:focus {
    outline: none !important;
    border: 2px solid blue;
    box-shadow: 0 0 10px black;
}